:root {
  --black: rgb(28, 28, 28);
  --white: #e6ecf1c9;
  --main: #09122C;
  --add1: #35B0AB;
  --add2: #BE3144;
  --add3: #E17564;
  --button:#1c1a33d7 ;
}

@font-face {
  font-family: Spline Sans;
  src: url(../image/logo/fonts/Spline\ Sans.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Spline Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



body {
  background-attachment: fixed;
  padding-top: 15vh;
  background-color: #35B0AB;
  background-image: url(../image/public/back.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  min-height: 100vh;
}

input {
  outline: none;
  border-radius: 6px;
}

.container {
  max-width: 1800px;
  min-width: 30vw;
  margin: 0 auto;
  padding: 0 10px;
}

/* HEADER */

header{
  overflow: hidden;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 100vw;
  background-color: var(--button);
}

header img {
  width: 170px;
  border-bottom-right-radius: 18px;
  place-self: bottom;
}

header a:last-of-type{
  margin-right: 60px;
}

header a{
  border: 2px solid var(--add1);
  background-color: var(--white);
  color: var(--main);
  padding: 2px 8px 8px 8px;
  vertical-align: middle;
  height: 30px;
  border-radius: 12px;
  min-height: min-content;
}

/* HEADER */

/* SCROLLBAR */

:root {
  scrollbar-color: var(--add) var(--main);
}


/* SCROLLBAR */


/* FOOTER */

footer {
  color: var(--white);
  background-color: var(--button);
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
  text-wrap-mode: nowrap;
  height: 54px;
}
.sub_footer{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.icons{
  color: var(--add);
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  gap: 20px;
}

/* FOOTER */
a {
  color: inherit;
  text-decoration: none;
}

/* ОТСТУПЫ */

.mb60 {
  margin-bottom: 60px !important;
}

.mb32 {
  margin-bottom: 32px;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb16 {
  margin-bottom: 16px;
}

.mb8 {
  margin-bottom: 8px;
}
.mt60 {
  margin-top: 60px;
}

.mt32 {
  margin-top: 32px;
}

.mt24 {
  margin-top: 24px;
}

.mt16 {
  margin-top: 16px;
}

.mt8 {
  margin-top: 8px;
}

.center {
  margin: 0 auto;
}

/* ОТСТУПЫ */

/* РАЗМЕР ТЕКСТА */

.bold {
  font-weight: bold;
}

.fs40 {
  font-size: 40px;
}

.fs32 {
  font-size: 32px;
}

.fs24 {
  font-size: 24px;
}

.fs20 {
  font-size: 20px;
}

.fs16 {
  font-size: 16px;
}

.fs12 {
  font-size: 12px;
}

/* РАЗМЕР ТЕКСТА */

/* FORM */

.form-1 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 6px;
}

/* FORM */

/* BTN */

.btn-1 {
  background-color: var(--button);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
}

/* BTN */

.failed_message{
  text-align: center;
  top:0;
  color:var(--add);
  text-shadow: 1px 1px 2px var(--main);
}


.modal_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: black;
  opacity: 0.7;
}

.modal_content {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  z-index: 11;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: top 500ms;
}

.modal.active .modal_bg {
  display: block;
}

.modal.active .modal_content {
  top: 10vh;
}